# ------------------------------
# Environment variables
# ------------------------------
.env
.env.local
.env.production

# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# ------------------------------
# Django
# ------------------------------
*.log
db.sqlite3
media/
staticfiles/
*.pot
*.pyc

# ------------------------------
# IDE / Editor
# ------------------------------
.vscode/
.idea/
*.swp
*.swo

# ------------------------------
# Migrations (optional)
# ------------------------------
# Usually you want to track initial migrations
# Ignore __pycache__ inside migrations
*/migrations/__pycache__/